.site-header {
  padding: 20px;
  background-color: #F1F1F1;
  border-bottom: 1px solid #DDD;
}
.site-header .logo {
  margin: 0;
  text-transform: lowercase;
  color: #999;
  font-size: 2em;
  font-weight: 200;
}

.moment-holder {
  width: 50%;
  max-width: 650px;
  min-width: 450px;
  margin: 1em auto;
}

.moment {
  margin: 0 0 2em;
}

.perspective-holder {
  overflow: hidden;
}

.perspective.primary {
  margin-top: .25em;
}
.perspective.secondary {
  position: relative;
  margin: 0 1% 0 0;
  float: left;
}
.perspective:last-child {
  margin-right: 0;
}
.of2 .perspective {
  width: 49.5%;
}
.of3 .perspective {
  width: 32.6%;
}

.play-overlay {
  opacity: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  transition: opacity .15s ease-in-out;
}
.play-overlay .glyphicon {
  left: 50%;
  top: 50%;
  margin-top: -1em;
  margin-left: -.5em;
  color: rgba(255,255,255,0.8);
  font-size: 2em;
}
.playing .play-overlay {
  opacity: 1;
}

.perspective video {
  display: block;
  width: 100%;
  max-width: 100%;
}

.perspective-username {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px 4px 6px 6px;
  font-size: 0.9em;
  font-weight: bold;
  color: #FFF;
  background-image: linear-gradient(transparent, #000);
}
